{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div class="bg-container">
        <h2 id="main-head">Welcome to My Cookbook!</h2>

        <div id="search-container" class="search-container"> 
            <input type="text" id="search" class="search" placeholder="Find a Recipe">
            <button id="search-button" class="search-button" onclick="searchRecipe()">Find Recipes</button>
        </div>

        <div id="filters">
            <p>Filter By:</p>
            <button class="category-button" onclick="filterBy('Breakfast')">Breakfast</button>
            <button class="category-button" onclick="filterBy('Vegetarian')">Vegetarian</button>
            <button class="category-button" onclick="filterBy('Vegan')">Vegan</button>
            <button class="category-button" onclick="filterBy('Dessert')">Dessert</button>
            <button class="category-button" onclick="filterBy('Seafood')">Seafood</button>
        </div>

        <h5 id="recipe-header"></h5>

        <div id="recipe-list" class="recipe-list">

        </div>

        <div id="random-recipe"></div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'script.js' %}"></script>
{% endblock %}