{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}My Cookbook{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    
    <body>

        
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: rgb(182, 133, 68);">
            <a class="navbar-brand" id="app-name" href="{% url 'index' %}">My Cookbook</a>
          
            <div>
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" onclick="getRandom()" style="cursor:pointer;">Surprise Me!</a>
                </li>
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" id ="my-recipes" href="{% url 'my_recipes' %}">My Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Create Recipe</a>
                    </li>

                    
                    <li id="logout" class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>